<!DOCTYPE html>
<html lang="en">
<style>
    #block-views-tags-block {
        display: none
    }
</style>
<%= render "users/header" %>
<body>
    <!-- playgame -->
    <iframe src="<%= @game.linkgame %>" style="width:100%;height:500px;border:0"></iframe>
</body>

</html>